
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Main Area Index View</h2>
<table border="1">
    <tr>
        <td>
            <b>Links</b>
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Main Area Homepage", "Index", "Home", new { area=""}, null)
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Employee Area Homepage", "Index", "Home", new { area="Employee"}, null)
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Customer Area Homepage", "Index", "Home", new { area= "Customer" }, null)
        </td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Admin Area Homepage", "Index", "Home", new { area= "Admin" }, null)
        </td>
    </tr>
</table>

